.filter-link {
  position: relative;
  cursor: pointer;
  line-height: 1.5;
  color: var(--yellow-900);
  font-size: 13px;
}

.filter-link--text {
  transition: var(--transition);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.filter-link--text::after {
  transition: var(--transition);
  content: "";
  width: 0px;
  height: 2px;
  background: var(--yellow-900);
  display: inline-block;
}

.filter-link--active {
  color: var(--white);
}
.filter-link--active .filter-link--text::after {
  background: var(--white);
}

.filter-link--active .filter-link--text::after {
  width: 20px;
  margin-left: 10px;
}

@media (hover: hover) and (pointer: fine) {
  .filter-link:hover .filter-link--text::after {
    width: 20px;
    margin-left: 10px;
  }
  .filter-link:hover {
    color: var(--yellow-900);
  }
}

@media (min-width: 768px) {
  .filter-link {
    font-size: 16px;;
  }
}
