.filter-links {}
.filter-links .filter-link {
  margin: 3px 0;
}
.filter-links__title {
  margin: 0 0 20px 0;
  text-transform: uppercase;
  color: var(--yellow-900);
  opacity: 0.3;
  font-size: 12px;
  font-weight: 700;
}

@media (max-width: 1023px) {
  .filter-links {
    padding: 0 var(--grid-gap);
  }
  .filter-links__title {
    display: none;
  }
  .filter-links__list {
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
    align-items: center;
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .filter-links__list {
    justify-content: center;
  }
  .filter-links__list .filter-link {
    margin: 0 20px;
  }
}
