.button-icon {
  transition: var(--transition);
  background: rgba(255, 255, 255, 0.06);
  padding: 30px;
  color: var(--white);
  cursor: pointer;
}

.button-icon .icon {
  width: auto;
  height: 20px;
}

.button-icon--disabled {
  opacity: 0.3;
  pointer-events: none;
}

@media (hover: hover) and (pointer: fine) {
  .button-icon:hover {
    background: rgba(255, 255, 255, 0.1);
  }
}
