.home {
  height: var(--window-height);
  overflow: hidden;
  position: relative;
}
.home__main-header {
  transition: var(--transition);
  order: 1;
}
.home__filter-links {
  transition: var(--transition);
  order: 2;
  padding: 0 0 10px 0;
}
.home__big-photo {
  order: 3;
  flex-grow: 1;
  display: flex;
}
.home__carousel-photos {
  transition: var(--transition);
  order: 4;
  padding: var(--grid-gap) 0 0 0;
}

.home--is-fullscreen .home__main-header,
.home--is-fullscreen .home__filter-links,
.home--is-fullscreen .home__carousel-photos {
  opacity: 0;
  pointer-events: none;
}

@media (min-width: 1024px) {
  .home {
    min-height: 720px;
  }
  .home__big-photo {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50vw;
  }
  .home__main-header {
    position: absolute;
    top: var(--grid-gap);
    right: var(--grid-gap);
  }
  .home__main-header .main-header__social-networks .icon {
    width: 18px;
    height: 18px;
  }
  .home__main-header .main-header {
    padding: 0;
  }
  .home__main-header .main-header .logo {
    margin-right: var(--grid-gap);
  }
  .home__filter-links {
    position: absolute;
    top: 120px;
    right: var(--grid-gap);
  }
  .home__carousel-photos {
    position: absolute;
    bottom: 60px;
    right: 0;
    width: 50vw;
  }
  .home__carousel-photos .carousel-photos__control {
    padding-right: var(--grid-gap);
  }
}
