.carousel-photos {}
.carousel-photos .swiper-container {
  padding: 0 var(--grid-gap) 40px var(--grid-gap);
}
.carousel-photos .swiper-container .swiper-pagination-bullet {
  background: var(--white);
  width: 6px;
  height: 6px;
}
.carousel-photos .swiper-container .swiper-lazy-preloader {
  width: 16px;
  height: 16px;
  border-width: 2px;
  border-color: var(--primary-color);
  border-bottom-color: transparent;
  margin-left: -8px;
  margin-top: -8px;
  animation-duration: 700ms;
}
.carousel-photos .swiper-container .swiper-lazy-loading {
  transition: var(--transition);
}
.carousel-photos .swiper-container .swiper-lazy-loaded {
  transition: var(--transition);
  opacity: 0;
  animation: showCarouselPhoto 300ms var(--ease-out-quad) forwards;
}
.carousel-photos__control {
  display: none;
}

.carousel-photo-box {
  transition: opacity 300ms var(--ease-out-quad);
}
.carousel-photo-box--selected {
  opacity: 0.3;
  pointer-events: none;
}

.carousel-photo {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 20px;
  padding-bottom: 100%;
  height: 0;
}

@media (min-width: 1024px) {
  .carousel-photo {
    border-radius: 30px;
  }
  .carousel-photos .swiper-container {
    padding-bottom: 0;
  }
  .carousel-photos .swiper-container .swiper-lazy-preloader {
    width: 24px;
    height: 24px;
    border-width: 2px;
    border-color: var(--primary-color);
    border-bottom-color: transparent;
    margin-left: -12px;
    margin-top: -12px;
    animation-duration: 700ms;
  }
  .carousel-photos .swiper-pagination {
    display: none;
  }
  .carousel-photos__control {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
  }
}

@media (min-width: 1025px) {
  .carousel-photo {
    border-radius: 50px;
  }
}

@media (hover: hover) and (pointer: fine) {
  .carousel-photo-box {
    cursor: pointer;
  }

  .carousel-photo-box:hover {
    opacity: 0.3;
  }
}

@keyframes showCarouselPhoto {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
