.flex {
  display: flex;
}

/* .flex > * {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
} */

.flex--inline {
  display: inline-flex;
}

.flex--column {
  flex-direction: column;
}

.flex--v-center {
  justify-content: center;
}

.flex--h-center {
  align-items: center;
}

.flex--v-end {
  justify-content: flex-end;
}

.flex--h-end {
  align-items: flex-end;
}

.flex--grow {
  flex-grow: 1;
}
