:root {
  /*== fonts */
  --font-base: "Sora", -apple-system,".SFNSText-Regular","San Francisco",BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
  --font-highlighted: "Changa One", -apple-system,".SFNSText-Regular","San Francisco",BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;

  /*== colors */

  --purple-700: #735BB2;
  --purple-900: #9A96FF;
  --gray-700: #707070;
  --gray-100: #1A1A1A;
  --lime-900: #96FFA6;
  --yellow-900: #FFF4A3;
  --white: white;
  --black: black;
  --black-a50: rgba(0, 0, 0, 0.5);
  --black-a20: rgba(0, 0, 0, 0.2);
  --black-a10: rgba(0, 0, 0, 0.1);
  --primary-color: var(--white);

  /*== gradients */

  /* --main-gradient: linear-gradient(80deg, var(--purple-700), var(--gray-100)); */
  /* --main-gradient: linear-gradient(80deg, #16C352, #2CB994, #414D95); */
  --main-gradient: linear-gradient(20deg, #000000, #0F5F3A);

  /*== grid */

  --grid-gap: 20px;
  --window-height: 100vh;

  /*== easing */

  --ease-in-quad: cubic-bezier(.55, .085, .68, .53);
  --ease-in-cubic: cubic-bezier(.550, .055, .675, .19);
  --ease-in-quart: cubic-bezier(.895, .03, .685, .22);
  --ease-in-quint: cubic-bezier(.755, .05, .855, .06);
  --ease-in-expo: cubic-bezier(.95, .05, .795, .035);
  --ease-in-circ: cubic-bezier(.6, .04, .98, .335);

  --ease-out-quad: cubic-bezier(.25, .46, .45, .94);
  --ease-out-cubic: cubic-bezier(.215, .61, .355, 1);
  --ease-out-quart: cubic-bezier(.165, .84, .44, 1);
  --ease-out-quint: cubic-bezier(.23, 1, .32, 1);
  --ease-out-expo: cubic-bezier(.19, 1, .22, 1);
  --ease-out-circ: cubic-bezier(.075, .82, .165, 1);

  --ease-in-out-quad: cubic-bezier(.455, .03, .515, .955);
  --ease-in-out-cubic: cubic-bezier(.645, .045, .355, 1);
  --ease-in-out-quart: cubic-bezier(.77, 0, .175, 1);
  --ease-in-out-quint: cubic-bezier(.86, 0, .07, 1);
  --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
  --ease-in-out-circ: cubic-bezier(.785, .135, .15, .86);

  /*== transitions */

  --transition: all 300ms var(--ease-out-quad);
  --transition-slow: all 500ms var(--ease-out-quad);
  --transition-fast: all 200ms var(--ease-out-quad);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

*::after, *::before {
  box-sizing: border-box;
}

@media (min-width: 768px) {
  :root {
    /*== grid */

    --grid-gap: 40px;
  }
}
